## Programming From The Very Basics Using Python - Session 19
#### All about tuple the concept of Immutability

In [1]:
t = 10, 20, 30
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [2]:
t = (10, 20, 30)
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [3]:
t = 10, 20, 30 * 3
print(t, type(t))

(10, 20, 90) <class 'tuple'>

In [4]:
t = (10, 20, 30) * 3
print(t, type(t))

(10, 20, 30, 10, 20, 30, 10, 20, 30) <class 'tuple'>

In [7]:
def testfn(t):
    total = 0
    for v in t:
        total += v
    return total

testfn(10, 20, 30)

TypeError: testfn() takes 1 positional argument but 3 were given

In [10]:
def testfn(t):
    total = 0
    for v in t:
        total += v
    return total

testfn("the")

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [18]:
# Literal notation
t = 10, 20, 30

# Constructor expression
t = tuple("hello")
print(t, type(t))

# Tuple comprehension applying a map operation
t = tuple(v*v for v in range(10))
print(t)

('h', 'e', 'l', 'l', 'o') <class 'tuple'>
(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [15]:
s = str(t)
print(s, type(s))
s
"".join(t)

('h', 'e', 'l', 'l', 'o') <class 'str'>

'hello'

In [20]:
a = 4, 8, 12, 18, 6, 5
b = 2, 9, 5, 16, 4, 3
print(a, b)

c = tuple(x+y for x, y in zip(a, b))
print(c)

(4, 8, 12, 18, 6, 5) (2, 9, 5, 16, 4, 3)
(6, 17, 17, 34, 10, 8)

In [22]:
first_names = "john", "tim", "tom", "peter"
last_names = "doe", "jones", "smith", "williams"

names = tuple(f + " " + l for f, l in zip(first_names, last_names))
print(names)

('john doe', 'tim jones', 'tom smith', 'peter williams')

In [24]:
first_names = "john", "tim", "tom", "peter"
last_names = "doe", "jones", "smith", "williams"

names = tuple(f"{f.capitalize()} {l.capitalize()}" 
              for f, l in zip(first_names, last_names))
print(names)

('John Doe', 'Tim Jones', 'Tom Smith', 'Peter Williams')

In [26]:
numbers = 45, 32, 78, 12, 92, 13, 17, 18, 23, 27, 48

# Tuple comprehensions applying a filter

t = tuple(n for n in numbers if n < 30)
print(t)

(12, 13, 17, 18, 23, 27)

In [27]:
d = "hello", "test", "text", "this", 56, "world", 5.2, None, "test"

", ".join(d)

TypeError: sequence item 4: expected str instance, int found

In [30]:
d = "hello", "test", "text", "this", 56, "world", 5.2, None, "test"

# In most cases in python, a comprehension can be used in places
# where an expression (like a function-call) expects one of their arguments 
# as as iterable.
print(", ".join(str(v) for v in d))
print(", ".join(v for v in d if type(v) is str))

hello, test, text, this, 56, world, 5.2, None, test
hello, test, text, this, world, test

In [35]:
a = 10.0
type(a) is int or type(a) is float
type(a) in (int, float, complex)

True

In [36]:
a = 10, 20, 30
b = 40, 50, 60
c = a + b
print(c)

(10, 20, 30, 40, 50, 60)

In [37]:
a = 10, 20, 30
b = a * 5
print(b)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [41]:
a = 45, 43, 67, 89, 21, 23, 53, 78, 23, 45, 43, 21, 67
print(a[:5], a[-5:], a[3:6])
print(a[::2], a[2:8:2])

(45, 43, 67, 89, 21) (23, 45, 43, 21, 67) (89, 21, 23)
(45, 67, 21, 53, 23, 43, 67) (67, 21, 53)

In [43]:
a.count(45)
a.index(89)

3

In [46]:
a = (10, 20, 30)
print(a)

b = tuple(15 if v==10 else v for v in a)
b

(10, 20, 30)

(15, 20, 30)

In [47]:
a = (10, 20, 30)
a[0] = 100

TypeError: 'tuple' object does not support item assignment

Immutable objects are objects whose notion of value cannot be altered
after they are being created.

In [50]:
a = 1000
print(a, type(a), id(a))
a += 1
print(a, type(a), id(a))

1000 <class 'int'> 140597133020816
1001 <class 'int'> 140597133019952

In [51]:
a = 1000
b = a
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")
a += 1
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")

a=1000, b=1000, id(a)=140597133020240, id(b)=140597133020240
a=1001, b=1000, id(a)=140597133020272, id(b)=140597133020240

In python - objects (or instances) of all builtin numeric types (int, float, complex, bool), str, bytes and tuple are all -- immutable.

In [52]:
a = 1000
b = 1000
c = a
print(id(a), id(b), id(c))

140597133020464 140597133020368 140597133020464

In [53]:
a = 100
b = 100
c = a
print(id(a), id(b), id(c))

8888488 8888488 8888488

In [ ]:
# Numbers between -5 to +255 are pre-constructed by Python runtime

a = 100
b = 100
c = 100

In [55]:
a = "hello world"
b = "hello world"
print(id(a), id(b))

140597131647216 140597131652336

In [56]:
a = "hello_world"
b = "hello_world"
print(id(a), id(b))

140597131654704 140597131654704