## Programming From The Very Basics Using Python - Session 24
#### More about sets and overview on dictionary

In [15]:
a = {10, 20, 30, 40}
print(a, type(a))

{40, 10, 20, 30} <class 'set'>

In [16]:
a = {}
print(a, type(a))

{} <class 'dict'>

In [17]:
a = set()
print(a, type(a))

set() <class 'set'>

In [20]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}
c = {54, 89, 12, 78}

print(b < a) # Check if b is a subset of a
print(c < a)

print(a > b, a > c) # Check if a is superset of b and c

False
True
False True

In [24]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}
print(a, id(a))
a -= b  # difference-update
print(a, id(a))

{99, 43, 12, 78, 54, 23, 56, 89} 140596832548704
{99, 78, 56, 89} 140596832548704

In [25]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}
print(a, id(a))
a |= b  # Update 'a' with extra items from 'b' (update)
print(a, id(a))

{99, 43, 12, 78, 54, 23, 56, 89} 140596832549152
{99, 43, 12, 76, 78, 54, 23, 56, 89} 140596832549152

In [27]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}
print(a, id(a))
a &= b  # Intersection-update
print(a, id(a))

{99, 43, 12, 78, 54, 23, 56, 89} 140596832549152
{43, 12, 54, 23} 140596832549152

In [28]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}
print(a, id(a))
a ^= b  # Symmetric-difference-update
print(a, id(a))

{99, 43, 12, 78, 54, 23, 56, 89} 140596832550272
{99, 76, 78, 56, 89} 140596832550272

In [29]:
a = [56, 54, 23, 89, 12, 43, 78, 99]
b = [54, 23, 12, 76, 43]

list(set(a) - set(b))

[56, 89, 99, 78]

In [31]:
a = "hello world"
b = "test data"

"".join(set(a) | set(b))

'atewrdso hl'

In [33]:
a = [54, 23, 78, 12, 87, 34]
b = [78, 54, 23, 87, 34, 12]

for item in a:
    if item not in b:
        print("The lists are different")
        break
else:
    print("The lists have identical items")

The lists have identical items

In [34]:
a = [54, 23, 78, 12, 87, 34]
b = [78, 54, 23, 87, 34, 12]

if set(a) == set(b):
    print("The lists have identical items")
else:
    print("The lists are different")

The lists have identical items

In [46]:
a = {56, 54, 23, 89, 12, 43, 78, 99}
b = {54, 23, 12, 76, 43}

print(a | b, a.union(b))
print(a & b, a.intersection(b))
print(a - b, a.difference(b))
print(a ^ b, a.symmetric_difference(b))
print(a < b, a.issubset(b))
print(a > b, a.issuperset(b))

{99, 43, 12, 76, 78, 54, 23, 56, 89} {99, 43, 12, 76, 78, 54, 23, 56, 89}
{43, 12, 54, 23} {43, 12, 54, 23}
{56, 89, 99, 78} {56, 89, 99, 78}
{99, 76, 78, 56, 89} {99, 76, 78, 56, 89}
False False
False False

In [37]:
a1 = a.copy()
print(a, a1)
print(id(a), id(a1))

{99, 43, 12, 78, 54, 23, 56, 89} {99, 43, 12, 78, 54, 23, 56, 89}
140596584746784 140596584744768

In [38]:
print(a)
a.clear()
print(a)

{99, 43, 12, 78, 54, 23, 56, 89}
set()

In [40]:
print(a)
while (v := int(input("Enter a value (or 0 to stop): "))):
    a.add(v)
    print(f"{a=}")

print(f"{a=}")

set()
a={10}
a={10, 34}
a={10, 34, 23}
a={89, 10, 34, 23}
a={34, 10, 23, 56, 89}
a={34, 10, 45, 23, 56, 89}
a={34, 10, 45, 23, 56, 89}
a={34, 10, 45, 23, 56, 89}
a={34, 10, 45, 23, 56, 89}
a={34, 100, 10, 45, 23, 56, 89}
a={34, 100, 10, 45, 110, 23, 56, 89}
a={34, 100, 10, 45, 110, 23, 56, 89}

In [41]:
print(a)
a.remove(100)
print(a)

{34, 100, 10, 45, 110, 23, 56, 89}
{34, 10, 45, 110, 23, 56, 89}

In [42]:
print(a)
a.remove(100)
print(a)

{34, 10, 45, 110, 23, 56, 89}

KeyError: 100

In [44]:
print(a)
a.discard(100)
print(a)

a.discard(45)
print(a)

{34, 10, 45, 110, 23, 56, 89}
{34, 10, 45, 110, 23, 56, 89}
{34, 10, 110, 23, 56, 89}

In [45]:
b = {100, 200, 300, 400}
a.update(b) # also -> a |= b would work the same!
print(a)

{34, 100, 200, 10, 300, 110, 400, 23, 56, 89}

Dictionary is a collection of key:value pairs where keys are unique and hashable

In [ ]:
# Literal notation
a = {"name": "John", "role": "developer", "company": "slashprog", "experience": 10}

In [ ]:
# Literal notation
a = {
    "name": "John", 
    "role": "developer", 
    "company": "slashprog", 
    "experience": 10
}

# Construction expression
a = dict(
        name="John", 
        role="developer", 
        company="slashprog", 
        experience=10
)

In [50]:
# Literal notation
a = {
    "name": "John", 
    "role": "developer", 
    "company": "slashprog", 
    "experience": 10,
    100: 200,
    "phone-number": "55-443-344",

}
print(a)

# Construction expression
a = dict(
        name="John", 
        role="developer", 
        company="slashprog", 
        experience=10,
        phone-number="55-44-3322"
)
print(a)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2420387671.py, line 19)

In [52]:
# Literal notation
a = {
    "name": "John", 
    "role": "developer", 
    "company": "slashprog", 
    "experience": 10,
    "name": "Alice"

}
print(a)

# Construction expression
a = dict(
        name="John", 
        role="developer", 
        company="slashprog", 
        experience=10,
        name="Alice"
      
)
print(a)

{'name': 'Alice', 'role': 'developer', 'company': 'slashprog', 'experience': 10}

SyntaxError: keyword argument repeated: name (2112644255.py, line 18)

In [56]:
# Literal notation
a = {
    "name": "John", 
    "role": "developer", 
    "company": "slashprog", 
    "experience": 10,
    "name": "Alice"

}
print(a)

# Dictionary comprehension
a = { x: x*x for x in range(10) }
print(a)

players = "john", "sam", "alice", "elisa", "damian"
scores = 45, 67, 87, 23, 50

print(list(zip(players, scores)))

d = dict(zip(players, scores))
print(d)

{'name': 'Alice', 'role': 'developer', 'company': 'slashprog', 'experience': 10}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[('john', 45), ('sam', 67), ('alice', 87), ('elisa', 23), ('damian', 50)]
{'john': 45, 'sam': 67, 'alice': 87, 'elisa': 23, 'damian': 50}

In [67]:
import sys
a = list(range(1_000_000))
print(f"{sys.getsizeof(a)=}")

b = set(a)
print(f"{sys.getsizeof(b)=}")

sys.getsizeof(a)=8000056
sys.getsizeof(b)=33554648

In [75]:
a = set()
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

a |= set(range(1_000_000))
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

for _ in range(1_000_000):
    a.pop()

print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}, {a}")

id(a)=140596584747904, sys.getsizeof(a)=216, len(a)=0
id(a)=140596584747904, sys.getsizeof(a)=33554648, len(a)=1000000
id(a)=140596584747904, sys.getsizeof(a)=33554648, len(a)=0, set()

In [76]:
a = set()
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

a |= set(range(1_000_000))
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

a.clear()

print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}, {a}")

id(a)=140596584744320, sys.getsizeof(a)=216, len(a)=0
id(a)=140596584744320, sys.getsizeof(a)=33554648, len(a)=1000000
id(a)=140596584744320, sys.getsizeof(a)=216, len(a)=0, set()

In [79]:
a = set()
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

a |= set(range(1_000_000))
print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}")

for _ in range(1_000_000):
    if len(a) % 100_000 == 0:
        a = a.copy() 
    a.pop()

print(f"{id(a)=}, {sys.getsizeof(a)=}, {len(a)=}, {a}")

id(a)=140596584743200, sys.getsizeof(a)=216, len(a)=0
id(a)=140596584743200, sys.getsizeof(a)=33554648, len(a)=1000000
id(a)=140596584743200, sys.getsizeof(a)=4194520, len(a)=0, set()