## Programming From The Very Basics Using Python - Session 16
#### Working with Strings - Basics

In [3]:
a = "Hello world"
a = 'Hello world'
a = 'Arnold said "I will be back" as we watched'
a = '''Arnold said "I'll be back" as we watched'''

In [4]:
install_path = "C:\newfolder\temp\backup\network\remote\test\assorted"
print(install_path)

C:
ewfolder	emackup
emote	estssorted

In [5]:
install_path = "C:\\newfolder\\temp\\backup\\network\\remote\\test\\assorted"
print(install_path)

C:\newfolder\temp\backup\network\remote\test\assorted

In [7]:
# r-strings a.k.a raw-literal-string notation
install_path = r"C:\newfolder\temp\backup\network\remote\test\assorted"
print(install_path)
install_path

C:\newfolder\temp\backup\network\remote\test\assorted

'C:\\newfolder\\temp\\backup\\network\\remote\\test\\assorted'

In [10]:
a = """this is a test
ldsfjlksdjfklsdjfsd
sdkl;fjlksdjflksdjfsd"""

print(a)

this is a test
ldsfjlksdjfklsdjfsd
sdkl;fjlksdjflksdjfsd

In [11]:
sql = """CREATE TABLE users(
            id INTEGER PRIMARY KEY,
            name VARCHAR(32) NOT NULL UNIQUE,
            role VARCHAR(32) NOT NULL,
            dept VARCHAR(32)
)
"""

print(sql)

CREATE TABLE users(
            id INTEGER PRIMARY KEY,
            name VARCHAR(32) NOT NULL UNIQUE,
            role VARCHAR(32) NOT NULL,
            dept VARCHAR(32)
)

In [12]:
html_header = '''<!DOCTYPE html>
<html>
  <head>
    <title>A sample report</title>
  </head>
  <body>
'''
print(html_header)

<!DOCTYPE html>
<html>
  <head>
    <title>A sample report</title>
  </head>
  <body>

In [13]:
import mathutil

In [ ]:
mathutil.fibonacci()

In [14]:
a = b"Hello world"
print(a, type(a))

b'Hello world' <class 'bytes'>

In [15]:
user = "John"
score = 45

print("Player", user, "scored", score)

Player John scored 45

In [16]:
# From Python 3.6+
# f-strings a.k.a format-literal string notation

user = "John"
score = 45

print(f"Player {user} scored {score}")

Player John scored 45

In [17]:
# From Python 3.6+
# f-strings a.k.a format-literal string notation

player = "John"
score = 45

msg = f"Player: {user}, Score: {score}"
print(msg)

Player: {user}, Score: {score}

In [19]:
f"10 + 20 => {10 + 20}"

'10 + 20 => 30'

In [20]:
players = "adrian", "steve", "jan", "lisa", "damian", "chandrashekar"
scores = 45.6678, 3.4345, 2343.5, 21.345, 56.78543214, 56534.324

for p, s in zip(players, scores):
    print(f"Player: {p}, Score: {s}")

Player: adrian, Score: 45.6678
Player: steve, Score: 3.4345
Player: jan, Score: 2343.5
Player: lisa, Score: 21.345
Player: damian, Score: 56.78543214
Player: chandrashekar, Score: 56534.324

In [24]:
players = "adrian", "steve", "jan", "lisa", "damian", "chandrashekar"
scores = 45.6678, 3.4345, 2343.5, 21.345, 56.78543214, 56534.324

for p, s in zip(players, scores):
    print(f"Player: {p:15s}, Score: {s:12.2f}")

Player: adrian         , Score:        45.67
Player: steve          , Score:         3.43
Player: jan            , Score:      2343.50
Player: lisa           , Score:        21.34
Player: damian         , Score:        56.79
Player: chandrashekar  , Score:     56534.32

In [28]:
players = "adrian", "steve", "jan", "lisa", "damian", "chandrashekar"
scores = 45.6678, 3.4345, 2343.5, 21.345, 56.78543214, 56534.324

print("+---------+-----------------+-------+--------------+")
for p, s in zip(players, scores):
    print(f"| Player  | {p:15s} | Score | {s:12.2f} |")
print("+---------+-----------------+-------+--------------+")

+---------+-----------------+-------+--------------+
| Player  | adrian          | Score |        45.67 |
| Player  | steve           | Score |         3.43 |
| Player  | jan             | Score |      2343.50 |
| Player  | lisa            | Score |        21.34 |
| Player  | damian          | Score |        56.79 |
| Player  | chandrashekar   | Score |     56534.32 |
+---------+-----------------+-------+--------------+

In [29]:
players = "adrian", "steve", "jan", "lisa", "damian", "chandrashekar"
scores = 45.6678, 3.4345, 2343.5, 21.345, 56.78543214, 56534.324

print("+---------+-----------------+-------+--------------+")
for p, s in zip(players, scores):
    print(f"| Player  | {p:>15s} | Score | {s:12.2f} |")
print("+---------+-----------------+-------+--------------+")

+---------+-----------------+-------+--------------+
| Player  |          adrian | Score |        45.67 |
| Player  |           steve | Score |         3.43 |
| Player  |             jan | Score |      2343.50 |
| Player  |            lisa | Score |        21.34 |
| Player  |          damian | Score |        56.79 |
| Player  |   chandrashekar | Score |     56534.32 |
+---------+-----------------+-------+--------------+

In [31]:
players = "adrian", "steve", "jan", "lisa", "damian", "chandrashekar"
scores = 45.6678, 3.4345, 2343.5, 21.345, 56.78543214, 56534.324

print("+---------+-----------------+-------+--------------+")
for p, s in zip(players, scores):
    print(f"| Player  | {p:^15s} | Score | {s:12.2f} |")
print("+---------+-----------------+-------+--------------+")

+---------+-----------------+-------+--------------+
| Player  |     adrian      | Score |        45.67 |
| Player  |      steve      | Score |         3.43 |
| Player  |       jan       | Score |      2343.50 |
| Player  |      lisa       | Score |        21.34 |
| Player  |     damian      | Score |        56.79 |
| Player  |  chandrashekar  | Score |     56534.32 |
+---------+-----------------+-------+--------------+

In [40]:
a = 1234
f"{a} - {a:#b} - {a:#x} - {a:#o}"

'1234 - 0b10011010010 - 0x4d2 - 0o2322'

In [44]:
a = "John"
b = "Doe"
c = a + b # String concatenation
print(c)

print(c * 5) # String repetition

print(c[0])

JohnDoe
JohnDoeJohnDoeJohnDoeJohnDoeJohnDoe
J

In [43]:
print("=" * 40)
print(" " * 15, "Hello world")
print("-" * 40)

========================================
                Hello world
----------------------------------------

In [47]:
s = "this is a test string"
print(s[0], s[5], s[-1], s[-5])

t i g t

In [50]:
s = "this is a test string"
print(s[30])
print(len(s))

IndexError: string index out of range

In [51]:
s = "this is a test string"
print(len(s))

21

In [57]:
print(s[:5], s[-6:]) # Slice the first 5 items and last 6 items
print(s[10:14])

this  string
test