## Programming From The Very Basics Using Python - Session 07
#### Converting between data-types and using the print() function

Planned topics for this video:
  - Converting between data-types
  - Using the print() function

In [14]:
a = 10
print(a, type(a))
b = float(a)
print(b, type(b))

10 <class 'int'>
10.0 <class 'float'>

In [16]:
a = 5.9
print(a, type(a))

b = int(a)
print(b, type(b))

5.9 <class 'float'>
5 <class 'int'>

In [19]:
a = 5.5

b = round(a)
print(b, type(b))

6 <class 'int'>

In [23]:
a = 2.344678
print(a, type(a))

b = round(a, 1)
b

2.344678 <class 'float'>

2.3

In [25]:
a = "123"

print(a, type(a))

b = int(a)
print(b, type(b))

123 <class 'str'>
123 <class 'int'>

In [30]:
a = "0xf"

print(a, type(a))

b = int(a, 16)
print(b, type(b))

a = "1000"
b = int(a, 2)
print(b, type(b))

0xf <class 'str'>
15 <class 'int'>
8 <class 'int'>

In [32]:
a = "0x1f0"
b = "0o645"
c = "0b101"

print(int(a, 0), int(b, 0), int(c, 0))

496 421 5

In [31]:
a = True
int(a)

1

In [33]:
a = None
int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [35]:
a = 10, 20
print(a, type(a))

b = int(a)

(10, 20) <class 'tuple'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [37]:
a = 10
print(type(a), a)

b = str(a)
print(type(b), b)

<class 'int'> 10
<class 'str'> 10

In [39]:
t = 10, 20, 30
s = str(t)
print(s, type(s))
s

(10, 20, 30) <class 'str'>

'(10, 20, 30)'

In [42]:
a = 100
t = type(a)
str(t)
t

int

In [43]:
a = 100
str(a)

'100'

In [50]:
values = [12, 5.5, "hello", None, [11, "test"]]
print(values, type(values))
str(values)

[12, 5.5, 'hello', None, [11, 'test']] <class 'list'>

"[12, 5.5, 'hello', None, [11, 'test']]"

In [45]:
values = 12, 5.5, "hello", None, [11, "test"]
print(values, type(values))

(12, 5.5, 'hello', None, [11, 'test']) <class 'tuple'>

In [49]:
t = (10, 20, 30) * 3
print(t, type(t))

(10, 20, 30, 10, 20, 30, 10, 20, 30) <class 'tuple'>

In [51]:
print

In [55]:
t = 10, 20, 30
print(t, type(t))
v = list(t)
print(v, type(v))

r = tuple(v)
print(r, type(r))

(10, 20, 30) <class 'tuple'>
[10, 20, 30] <class 'list'>
(10, 20, 30) <class 'tuple'>

In [56]:
a = 10
tuple(a)

TypeError: 'int' object is not iterable

In [59]:
print(10, 20, 30)
print("test string", 5.6, False, 34)

10 20 30
test string 5.6 False 34

In [62]:
print(10, 20, 30, sep="\n")
print("test string", 5.6, False, 34)

10
20
30
test string 5.6 False 34

In [64]:
print(10, 20, 30, sep=",", end="")
print("test string", 5.6, False, 34)

10,20,30test string 5.6 False 34

In [ ]:
print()